service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ++++++++++++++++++++++++++++++++++++ -->
<!-- Versão 1.4 - 23/11/2018 ++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++ --> 

<wsdl:definitions
	xmlns:ns1="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:out"
	xmlns:tns="http://arrecadacao.service/schemas"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns0="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:in"
	xmlns:p="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://arrecadacao.service/schemas">
	<wsdl:types>
		<xs:schema
			xmlns="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:in"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:in"
			elementFormDefault="qualified" attributeFormDefault="unqualified"
			xmlns:Q1="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate">
			<xs:simpleType name="CNPJType">
				<xs:restriction base="xs:string">
					<xs:length value="14" />
					<xs:pattern value="[0-9]{14}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="CPFType">
				<xs:restriction base="xs:string">
					<xs:length value="11" />
					<xs:pattern value="[0-9]{11}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="reloadPrepaidCardType">
				<xs:choice>
					<xs:element name="reloadPrepaidCard"
						type="reloadPrepaidCardGenericType" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="CountyTaxRateType">
				<xs:annotation>
					<xs:documentation>Impostos e Taxas Municipais</xs:documentation>
				</xs:annotation>
				<xs:choice>
					<xs:element name="Instlmt" type="ns0:ParcelamentoType" />
					<xs:element name="dividaAtiva"
						type="ns0:DividaAtivaType" />
					<xs:element name="iptu" type="ns0:IPTUType" />
					<xs:element name="iss" type="ns0:ISSType" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="DateRefSimpleType">
				<xs:sequence>
					<xs:element name="mnth" type="xs:int" minOccurs="0" />
					<xs:element name="yr" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="DividaAtivaTypeRequest"
				type="ns0:DividaAtivaType" />
			<xs:complexType name="DividaAtivaType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="cnpj" type="ns0:CNPJType"
							minOccurs="0" />
						<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					</xs:choice>
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ICMSTypeRequest" type="ns0:ICMSType" />
			<xs:complexType name="ICMSType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="cnpj" type="ns0:CNPJType"
							minOccurs="0" />
						<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					</xs:choice>
					<xs:element name="statEnrollment" type="xs:string"
						minOccurs="0" />
					<xs:element name="cpnyId" type="xs:string" minOccurs="0" />
					<xs:element name="val" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:fractionDigits value="2" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="refDt" type="ns0:DateRefSimpleType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="IPTUTypeRequest" type="ns0:IPTUType" />
			<xs:complexType name="IPTUType">
				<xs:sequence>
					<xs:element name="prprtyEnrollment" type="xs:string"
						minOccurs="0" />
					<xs:element name="refDt" type="ns0:DateRefSimpleType"
						minOccurs="0" />
					<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					<xs:element name="cnpj" type="ns0:CNPJType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ISSTypeRequest" type="ns0:ISSType" />
			<xs:complexType name="ISSType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="cnpj" type="ns0:CNPJType"
							minOccurs="0" />
						<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					</xs:choice>
					<xs:element name="ctyEnrollment" type="xs:string"
						minOccurs="0" />
					<xs:element name="cpnyId" type="xs:string" minOccurs="0" />
					<xs:element name="refDt" type="ns0:DateRefSimpleType"
						minOccurs="0" />
					<xs:element name="val" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:fractionDigits value="2" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ParcelamentoTypeRequest"
				type="ns0:ParcelamentoType" />
			<xs:complexType name="ParcelamentoType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="cnpj" type="ns0:CNPJType"
							minOccurs="0" />
						<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					</xs:choice>
					<xs:element name="instlmtNb" type="xs:int" minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="PlacaVeiculoType">
				<xs:restriction base="xs:string">
					<xs:length value="7" />
					<xs:pattern
						value="[a-zA-Z]{3}[0-9]{1}[a-zA-Z0-9]{1}[0-9]{2}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="RenavamType">
				<xs:restriction base="xs:string">
					<xs:length value="11" />
					<xs:pattern value="[0-9]{11}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StateTaxRateType">
				<xs:annotation>
					<xs:documentation>Impostos e Taxas Estaduais</xs:documentation>
				</xs:annotation>
				<xs:choice>
					<xs:element name="Instlmt" type="ns0:ParcelamentoType">
						<xs:annotation>
							<xs:documentation>
								Parcelamento de Dívidas Estaduais
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dividaAtiva"
						type="ns0:DividaAtivaType" />
					<xs:element name="icms" type="ns0:ICMSType" />
					<xs:element name="ipva" type="ns0:VeiculoIDGenericType" />
					<xs:element name="licenciamento"
						type="ns0:VeiculoIDGenericType" />
					<xs:element name="multaTransito"
						type="ns0:VeiculoIDGenericType" />
					<xs:element name="taxasDiversasVeiculos"
						type="ns0:VeiculoIDGenericType" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="TelecomTvTelType">
				<xs:sequence>
					<xs:element name="cstmrCd" type="xs:string"
						minOccurs="0" />
					<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					<xs:element name="cnpj" type="ns0:CNPJType"
						minOccurs="0" />
					<xs:element name="refDt" type="ns0:DateRefSimpleType"
						minOccurs="0" />
					<xs:element name="telLine" type="ns0:TelephoneType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TelecomTypeRequest"
				type="ns0:TelecomType" />
			<xs:complexType name="TelecomType">
				<xs:choice>
					<xs:element name="telSvc" type="ns0:TelecomTvTelType"
						minOccurs="0" />
					<xs:element name="tvSvc" type="ns0:TelecomTvTelType"
						minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="TelephoneType">
				<xs:sequence>
					<xs:element name="areaCd">
						<xs:simpleType>
							<xs:annotation>
								<xs:documentation>Codigo de Area</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:int">
								<xs:pattern value="[0-9]{2}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="telNb">
						<xs:simpleType>
							<xs:annotation>
								<xs:documentation>Numero Telefone</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:int">
								<xs:pattern value="[0-9]{3,9}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UtilitiesGenericTypeRequest"
				type="ns0:UtilitiesGenericType" />
			<xs:complexType name="UtilitiesGenericType">
				<xs:sequence>
					<xs:element name="cstmrCd" type="xs:string"
						minOccurs="0" />
					<xs:choice>
						<xs:element name="cnpj" type="ns0:CNPJType"
							minOccurs="0" />
						<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					</xs:choice>
					<xs:element name="refDt" type="ns0:DateRefSimpleType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="VeiculoIDGenericTypeRequest"
				type="ns0:VeiculoIDGenericType" />
			<xs:complexType name="VeiculoIDGenericType">
				<xs:annotation>
					<xs:documentation>
						Tipo de dados destinado a especificar a
						identificacao de um
						veiculo com o numero do renavam, placa e
						cpf/cnpj.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="renavam" type="ns0:RenavamType"
						minOccurs="0" />
					<xs:element name="carPlate" type="ns0:PlacaVeiculoType"
						minOccurs="0" />
					<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					<xs:element name="cnpj" type="ns0:CNPJType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VeiculoIDType">
				<xs:annotation>
					<xs:documentation>
						Tipo de dados destinado a especificar a
						identificacao de um
						veiculo com o numero do renavam e a placa.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="renavam" type="ns0:RenavamType"
						minOccurs="0" />
					<xs:element name="carPlate" type="ns0:PlacaVeiculoType"
						minOccurs="0" />
					<xs:element name="cnpj" type="ns0:CNPJType"
						minOccurs="0" />
					<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="WaterTypeRequest" type="ns0:WaterType" />
			<xs:complexType name="WaterType">
				<xs:complexContent>
					<xs:extension base="ns0:UtilitiesGenericType">
						<xs:sequence>
							<xs:element name="prprtyEnrollment" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="ReloadPrepaidCardTypeRequest"
				type="ns0:reloadPrepaidCardGenericType" />
			<xs:complexType name="reloadPrepaidCardGenericType">
				<xs:sequence>
					<xs:element name="cardNb" minOccurs="0" type="xs:string" />
					<xs:element name="cstmrIdr" minOccurs="0"
						type="xs:string" />
					<xs:choice>
						<xs:element name="cpf" type="CPFType" minOccurs="0"
							maxOccurs="1" />
						<xs:element name="cnpj" type="CNPJType" minOccurs="0"
							maxOccurs="1" />
					</xs:choice>
					<xs:element name="refDt" minOccurs="0"
						type="DateRefSimpleType" />
					<xs:element name="telLine" minOccurs="0"
						type="TelephoneType" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0"
						maxOccurs="1" />
					<xs:element name="valReload" minOccurs="0"
						type="ActiveOrHistoricCurrencyAndAmount_SimpleType">
						<xs:annotation>
							<xs:documentation>
								Valor de recarga
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="demaisTaxas">
				<xs:sequence>
					<xs:element name="cpf" type="ns0:CPFType" minOccurs="0" />
					<xs:element name="cnpj" type="ns0:CNPJType"
						minOccurs="0" />
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="prcgCd" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Max44NumericText">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="44" />
					<xs:pattern value="[0-9]{1,44}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType
				name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="5" />
					<xs:totalDigits value="18" />
					<xs:minInclusive value="0.0" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema
			xmlns="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:out"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:iso:std:iso:20022:tech:xsd:bill:info:candidate:out"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:simpleType
				name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="5" />
					<xs:totalDigits value="18" />
					<xs:minInclusive value="0.0" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AddressType2Code">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ADDR" />
					<xs:enumeration value="PBOX" />
					<xs:enumeration value="HOME" />
					<xs:enumeration value="BIZZ" />
					<xs:enumeration value="MLTO" />
					<xs:enumeration value="DLVY" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AnyBICIdentifier">
				<xs:restriction base="xs:string">
					<xs:pattern
						value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="BillInformationDetailsArrayType">
				<xs:sequence>
					<xs:element name="rtrCd" type="ns1:ReturnCodeEnum" />
					<xs:element name="bllInfDtl"
						type="ns1:BillInformationDetailsType" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BillInformationDetailsType">
				<xs:sequence>
					<xs:element name="idrDbt" type="Max44NumericText"
						minOccurs="0" />
					<xs:element name="digitLine" type="Max44NumericText"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Código de barras com 44 dígitos, padrão
								Febraban v4.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dueDt" type="ns1:ISODate"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Data de Vencimento
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="duePyblAmt"
						type="ActiveOrHistoricCurrencyAndAmount_SimpleType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Valor a ser pago</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="descDbtTxt" type="ns1:Max140Text"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descrição do Tributo / Literal do Tributo
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactDetails2">
				<xs:sequence>
					<xs:element name="NmPrfx" type="ns1:NamePrefix1Code"
						minOccurs="0" />
					<xs:element name="Nm" type="ns1:Max140Text"
						minOccurs="0" />
					<xs:element name="PhneNb" type="ns1:PhoneNumber"
						minOccurs="0" />
					<xs:element name="MobNb" type="ns1:PhoneNumber"
						minOccurs="0" />
					<xs:element name="FaxNb" type="ns1:PhoneNumber"
						minOccurs="0" />
					<xs:element name="EmailAdr" type="ns1:Max2048Text"
						minOccurs="0" />
					<xs:element name="Othr" type="ns1:Max35Text"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CountryCode">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z]{2,2}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="CountyTaxRateType">
				<xs:annotation>
					<xs:documentation>Impostos e Taxas Municipais</xs:documentation>
				</xs:annotation>
				<xs:choice>
					<xs:element name="Instlmt"
						type="ns1:ParcelamentoTaxType" />
					<xs:element name="dividaAtiva"
						type="ns1:DividaAtivaTaxType" />
					<xs:element name="iptu" type="ns1:IPTUType" />
					<xs:element name="iss" type="ns1:ISSType" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="DadosVeiculoType">
				<xs:sequence>
					<xs:element name="renavam" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11" />
								<xs:pattern value="[0-9]{11}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="chassi" type="xs:string" minOccurs="0" />
					<xs:element name="mktVal"
						type="ActiveOrHistoricCurrencyAndAmount_SimpleType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DateAndPlaceOfBirth">
				<xs:sequence>
					<xs:element name="BirthDt" type="ns1:ISODate"
						minOccurs="0" />
					<xs:element name="PrvcOfBirth" type="ns1:Max35Text"
						minOccurs="0" />
					<xs:element name="CityOfBirth" type="ns1:Max35Text"
						minOccurs="0" />
					<xs:element name="CtryOfBirth" type="ns1:CountryCode"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="DividaAtivaTypeResponse"
				type="ns1:DividaAtivaTaxType" />
			<xs:complexType name="DividaAtivaTaxType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType
				name="ExternalOrganisationIdentification1Code">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="4" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ExternalPersonIdentification1Code">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="4" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType
				name="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="ns1:Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Definition: Identification assigned by an
								institution.
								Datatype: "Max35Text"
								Definição: Identificação
								atribuída por uma instituição.
								Tipo de Dados: "Max35Text"
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm"
						type="ns1:OrganisationIdentificationSchemeName1Choice"
						minOccurs="0" />
					<xs:element name="Issr" type="ns1:Max35Text"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="ns1:Max35Text" minOccurs="0" />
					<xs:element name="SchmeNm"
						type="ns1:PersonIdentificationSchemeName1Choice" minOccurs="0" />
					<xs:element name="Issr" type="ns1:Max35Text"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="IPTUTypeResponse" type="ns1:IPTUType" />
			<xs:complexType name="IPTUType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
							<xs:element name="prprtyEnrollment" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="ISODate">
				<xs:annotation>
					<xs:documentation>
						Tipo de dados para representar uma data. Formato:
						"YYYY-MM-DD"
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:date" />
			</xs:simpleType>
			<xs:element name="ISSTypeResponse" type="ns1:ISSType" />
			<xs:complexType name="ISSType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
							<xs:element name="ctyEnrollment" type="xs:string"
								minOccurs="0" />
							<xs:element name="cpnyEnrollment" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="ICMSTypeResponse" type="ns1:IcmsTaxType" />
			<xs:complexType name="IcmsTaxType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
							<xs:element name="statEnrollment"
								type="ns1:PartyIdentification43" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="VeiculoIDGenericTypeResponse"
				type="ns1:IpvaMultaTaxType" />
			<xs:complexType name="IpvaMultaTaxType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
							<xs:element name="objctDtls"
								type="ns1:DadosVeiculoType" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="Max140Text">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="140" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Max16Text">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="16" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Max2048Text">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="2048" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Max35Text">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="35" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Max44NumericText">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="44" />
					<xs:pattern value="[0-9]{1,44}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Max70Text">
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:maxLength value="70" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="NamePrefix1Code">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DOCT" />
					<xs:enumeration value="MIST" />
					<xs:enumeration value="MISS" />
					<xs:enumeration value="MADM" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="OrganisationIdentification8">
				<xs:sequence>
					<xs:element name="AnyBIC" type="ns1:AnyBICIdentifier"
						minOccurs="0" />
					<xs:element name="Othr"
						type="ns1:GenericOrganisationIdentification1" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType
				name="OrganisationIdentificationSchemeName1Choice">
				<xs:choice>
					<xs:element name="Cd"
						type="ns1:ExternalOrganisationIdentification1Code" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Definition: Specifies the external organisation
								identification scheme name
								code in the format of
								character string
								with a maximum length of 4 characters.
								The list of valid codes is
								an external code list published
								separately.
								External code sets can
								be downloaded from www.iso20022.org.
								Type: CodeSet
								Definição:
								Especifica um código de tipo de identificação utilizada no
								formato string
								com tamanho máximo de 4 caracteres.
								A lista com os
								codigos válidos é publicada separadamente e pode
								ser obtida
								no
								site www.iso20022.org
								Tipo de Dados: Codeset
								COID
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Prtry" type="ns1:Max35Text"
						minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:element name="ParcelamentoTypeResponse"
				type="ns1:ParcelamentoTaxType" />
			<xs:complexType name="ParcelamentoTaxType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="taxDtls" type="ns1:TaxDtlsType"
								minOccurs="0" />
							<xs:element name="instlmtTp" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de tributo parcelado com o órgão.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Party11Choice">
				<xs:choice>
					<xs:element name="OrgId"
						type="ns1:OrganisationIdentification8" minOccurs="0" />
					<xs:element name="PrvtId"
						type="ns1:PersonIdentification5" minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="PartyIdentification43">
				<xs:sequence>
					<xs:element name="Nm" type="ns1:Max140Text"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Definition: Name by which a party is known and
								which is usually used to
								identify that party.
								Datatype:
								"Max140Text"
								Definição: Nome utilizado para identificar o
								cliente.
								Tipo de Dados: "Max140Text"
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PstlAdr" type="ns1:PostalAddress6"
						minOccurs="0" />
					<xs:element name="Id" type="ns1:Party11Choice"
						minOccurs="0" />
					<xs:element name="CtryOfRes" type="ns1:CountryCode"
						minOccurs="0" />
					<xs:element name="CtctDtls" type="ns1:ContactDetails2"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonIdentification5">
				<xs:sequence>
					<xs:element name="DtAndPlcOfBirth"
						type="ns1:DateAndPlaceOfBirth" minOccurs="0" />
					<xs:element name="Othr"
						type="ns1:GenericPersonIdentification1" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType
				name="PersonIdentificationSchemeName1Choice">
				<xs:choice>
					<xs:element name="Cd"
						type="ns1:ExternalPersonIdentification1Code" minOccurs="0" />
					<xs:element name="Prtry" type="ns1:Max35Text"
						minOccurs="0" />
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="PhoneNumber">
				<xs:restriction base="xs:string">
					<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="PostalAddress6">
				<xs:sequence>
					<xs:element name="AdrTp" type="ns1:AddressType2Code"
						minOccurs="0" />
					<xs:element name="Dept" type="ns1:Max70Text"
						minOccurs="0" />
					<xs:element name="SubDept" type="ns1:Max70Text"
						minOccurs="0" />
					<xs:element name="StrtNm" type="ns1:Max70Text"
						minOccurs="0" />
					<xs:element name="BldgNb" type="ns1:Max16Text"
						minOccurs="0" />
					<xs:element name="PstCd" type="ns1:Max16Text"
						minOccurs="0" />
					<xs:element name="TwnNm" type="ns1:Max35Text"
						minOccurs="0" />
					<xs:element name="CtrySubDvsn" type="ns1:Max35Text"
						minOccurs="0" />
					<xs:element name="Ctry" type="ns1:CountryCode"
						minOccurs="0" />
					<xs:element name="AdrLine" type="ns1:Max70Text"
						minOccurs="0" maxOccurs="7" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ReturnCodeEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK" />
					<xs:enumeration value="Sistema inoperante. Tente mais tarde." />
					<xs:enumeration value="Identificador inválido." />
					<xs:enumeration value="Identificador inexistente." />
					<xs:enumeration value="Inscrição Estadual inexistente." />
					<xs:enumeration value="Identificador da empresa inexistente." />
					<xs:enumeration value="Inscrição do imóvel inexistente." />
					<xs:enumeration value="Código do cliente inexistente." />
					<xs:enumeration value="Número de telefone inexistente." />
					<xs:enumeration value="Não consta débito para os dados informados." />
					<xs:enumeration value="Ano base do IPVA inválido." />
					<xs:enumeration value="CPF inexistente." />
					<xs:enumeration value="CNPJ inexistente." />
					<xs:enumeration value="RENAVAM inexistente." />
					<xs:enumeration value="PLACA inexistente." />
					<xs:enumeration value="Ano do exercício fiscal inválido." />
					<xs:enumeration value="Número do parcelamento inexistente." />
					<xs:enumeration value="Data de vencimento inválida." />
					<xs:enumeration value="Valor do tributo inválido." />
					<xs:enumeration value="Data de referência inválida." />
					<xs:enumeration value="Data posterior a atual." />
					<xs:enumeration value="Número de cartão inexistente." />
					<xs:enumeration value="Débitos não disponíveis para pagamento. Procurar o DETRAN." />
					<xs:enumeration value="Débitos não disponíveis para pagamento. Procurar o SEFAZ." />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StateTaxRateType">
				<xs:annotation>
					<xs:documentation>Impostos e Taxas Estaduais</xs:documentation>
				</xs:annotation>
				<xs:choice>
					<xs:element name="Instlmt"
						type="ns1:ParcelamentoTaxType">
						<xs:annotation>
							<xs:documentation>
								Parcelamento de Dívidas Estaduais.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dividaAtiva"
						type="ns1:DividaAtivaTaxType" />
					<xs:element name="icms" type="ns1:IcmsTaxType" />
					<xs:element name="ipva" type="ns1:IpvaMultaTaxType" />
					<xs:element name="licenciamento"
						type="ns1:IpvaMultaTaxType" />
					<xs:element name="multaTransito"
						type="ns1:IpvaMultaTaxType" />
					<xs:element name="taxasDiversasVeiculos"
						type="ns1:IpvaMultaTaxType" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="TaxDtlsType">
				<xs:sequence>
					<xs:element name="nmTax" type="ns1:Max140Text"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Nome do tributo
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitgPty"
						type="ns1:PartyIdentification43" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Objeto com a identificacao CPF/CNPJ, Nome do
								contribuinte
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reloadPrepaidCardType">
				<xs:choice>
					<xs:element name="reloadPrepaidCard"
						type="GenericreloadPrepaidCardRspnType" />
				</xs:choice>
			</xs:complexType>
			<xs:element name="ReloadPrepaidCardTypeResponse"
				type="ns1:GenericreloadPrepaidCardRspnType" />
			<xs:complexType
				name="GenericreloadPrepaidCardRspnType">
				<xs:complexContent>
					<xs:extension base="BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="cardNb" minOccurs="0"
								type="xs:string" />
							<xs:element name="cstmrIdr" minOccurs="0"
								type="xs:string" />
							<xs:element name="ValidityOfReload" minOccurs="0"
								type="ISODate" />
							<xs:element name="ReloadDtls"
								type="ReloadDtlsResponse" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ReloadDtlsResponse">
				<xs:sequence>
					<xs:element name="cpnyId" minOccurs="0"
						type="PartyIdentification43" />
					<xs:element name="cstmrId" minOccurs="0"
						type="PartyIdentification43" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UtilitiesTypeResponse"
				type="ns1:UtilitiesRspnType" />
			<xs:complexType name="UtilitiesRspnType">
				<xs:complexContent>
					<xs:extension
						base="ns1:BillInformationDetailsArrayType">
						<xs:sequence>
							<xs:element name="dadosUtilitiesType"
								type="ns1:utilitiesResponse" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="demaisTaxasTaxType">
				<xs:sequence>
					<xs:element name="taxDtls" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="utilitiesResponse">
				<xs:sequence>
					<xs:element name="cpnyId"
						type="ns1:PartyIdentification43" />
					<xs:element name="cstmrId"
						type="ns1:PartyIdentification43" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GenericException"
				type="ns1:GenericException" />
			<xs:complexType name="GenericException">
				<xs:sequence>
					<xs:element name="code" type="xs:int" minOccurs="0" />
					<xs:element name="message" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://arrecadacao.service/schemas">
			<xsd:element name="consultarDebitosICMSOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitosICMSOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitosDividaAtivaOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitosDividaAtivaOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitosParcelamentoOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="consultarDebitosParcelamentoOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoIPTUOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoIPTUOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoISSOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoISSOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoTelecomOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoTelecomOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoConsumoAguaOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoConsumoAguaOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="consultarDebitoConsumoEnergiaEletricaOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="consultarDebitoConsumoEnergiaEletricaOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoConsumoGasOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDebitoConsumoGasOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="recarregarCartaoPrePagoOp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="recarregarCartaoPrePagoOpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultarDebitoVeiculoGenericRequest">
		<wsdl:part name="requestParameters"
			element="ns0:VeiculoIDGenericTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoVeiculoGenericResponse">
		<wsdl:part name="responseParameters"
			element="ns1:VeiculoIDGenericTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoICMSOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:ICMSTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoICMSOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:ICMSTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoDividaAtivaOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:DividaAtivaTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoDividaAtivaOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:DividaAtivaTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoParcelamentoOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:ParcelamentoTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoParcelamentoOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:ParcelamentoTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoIPTUOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:IPTUTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoIPTUOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:IPTUTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoISSOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:ISSTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoISSOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:ISSTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoTelecomOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:TelecomTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoTelecomOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:UtilitiesTypeResponse" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoConsumoAguaOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:WaterTypeRequest" />
	</wsdl:message>
	<wsdl:message name="consultarDebitoConsumoAguaOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:UtilitiesTypeResponse" />
	</wsdl:message>
	<wsdl:message
		name="consultarDebitoConsumoGenericOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:UtilitiesGenericTypeRequest" />
	</wsdl:message>
	<wsdl:message
		name="consultarDebitoConsumoGenericOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:UtilitiesTypeResponse" />
	</wsdl:message>
	<wsdl:message name="recarregarCartaoPrePagoOpRequest">
		<wsdl:part name="requestParameters"
			element="ns0:ReloadPrepaidCardTypeRequest" />
	</wsdl:message>
	<wsdl:message name="recarregarCartaoPrePagoOpResponse">
		<wsdl:part name="responseParameters"
			element="ns1:ReloadPrepaidCardTypeResponse" />
	</wsdl:message>
	<wsdl:message name="GenericException">
		<wsdl:part name="GenericException"
			element="ns1:GenericException" />
	</wsdl:message>
	<wsdl:portType name="Arrecadacao">
		<wsdl:operation name="consultarDebitoMultasTransitoOp">
			<wsdl:input
				message="tns:consultarDebitoVeiculoGenericRequest" />
			<wsdl:output
				message="tns:consultarDebitoVeiculoGenericResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation
			name="consultarDebitoTaxasDiversasVeiculoOp">
			<wsdl:input
				message="tns:consultarDebitoVeiculoGenericRequest" />
			<wsdl:output
				message="tns:consultarDebitoVeiculoGenericResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoLicenciamentoOp">
			<wsdl:input
				message="tns:consultarDebitoVeiculoGenericRequest" />
			<wsdl:output
				message="tns:consultarDebitoVeiculoGenericResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoIPVAOp">
			<wsdl:input
				message="tns:consultarDebitoVeiculoGenericRequest" />
			<wsdl:output
				message="tns:consultarDebitoVeiculoGenericResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoICMSOp">
			<wsdl:input message="tns:consultarDebitoICMSOpRequest" />
			<wsdl:output message="tns:consultarDebitoICMSOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoDividaAtivaOp">
			<wsdl:input
				message="tns:consultarDebitoDividaAtivaOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoDividaAtivaOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoParcelamentoOp">
			<wsdl:input
				message="tns:consultarDebitoParcelamentoOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoParcelamentoOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoIPTUOp">
			<wsdl:input message="tns:consultarDebitoIPTUOpRequest" />
			<wsdl:output message="tns:consultarDebitoIPTUOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoISSOp">
			<wsdl:input message="tns:consultarDebitoISSOpRequest" />
			<wsdl:output message="tns:consultarDebitoISSOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoTelecomOp">
			<wsdl:input message="tns:consultarDebitoTelecomOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoTelecomOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoConsumoAguaOp">
			<wsdl:input
				message="tns:consultarDebitoConsumoAguaOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoConsumoAguaOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation
			name="consultarDebitoConsumoEnergiaEletricaOp">
			<wsdl:input
				message="tns:consultarDebitoConsumoGenericOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoConsumoGenericOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoConsumoGasOp">
			<wsdl:input
				message="tns:consultarDebitoConsumoGenericOpRequest" />
			<wsdl:output
				message="tns:consultarDebitoConsumoGenericOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
		<wsdl:operation name="recarregarCartaoPrePagoOp">
			<wsdl:input message="tns:recarregarCartaoPrePagoOpRequest" />
			<wsdl:output
				message="tns:recarregarCartaoPrePagoOpResponse" />
			<wsdl:fault name="GenericException"
				message="tns:GenericException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EndpointBinding"
		type="tns:Arrecadacao">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarDebitoMultasTransitoOp">
			<soap:operation style="document"
				soapAction="consultarDebitoMultasTransitoAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="consultarDebitoTaxasDiversasVeiculoOp">
			<soap:operation style="document"
				soapAction="consultarDebitoTaxasDiversasAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoLicenciamentoOp">
			<soap:operation style="document"
				soapAction="consultarDebitoLicenciamentoAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoIPVAOp">
			<soap:operation style="document"
				soapAction="consultarDebitoIPVAAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoICMSOp">
			<soap:operation style="document"
				soapAction="consultarDebitoICMSAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoDividaAtivaOp">
			<soap:operation style="document"
				soapAction="consultarDebitoDividaAtivaAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoParcelamentoOp">
			<soap:operation style="document"
				soapAction="consultarDebitoParcelamentoAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoIPTUOp">
			<soap:operation style="document"
				soapAction="consultarDebitoIPTUAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoISSOp">
			<soap:operation style="document"
				soapAction="consultarDebitoISSAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoTelecomOp">
			<soap:operation style="document"
				soapAction="consultarDebitoTelecomAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoConsumoAguaOp">
			<soap:operation style="document"
				soapAction="consultarDebitoConsumoAguaAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="consultarDebitoConsumoEnergiaEletricaOp">
			<soap:operation style="document"
				soapAction="consultarDebitoConsumoEnergiaEletricaAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDebitoConsumoGasOp">
			<soap:operation style="document"
				soapAction="consultarDebitoConsumoGasAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="recarregarCartaoPrePagoOp">
			<soap:operation style="document"
				soapAction="recarregarCartaoPrePagoAction" />
			<wsdl:input>
				<soap:body use="literal" parts="requestParameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="responseParameters" />
			</wsdl:output>
			<wsdl:fault name="GenericException">
				<soap:fault name="GenericException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="arrecadacaoConsultaService">
		<wsdl:port name="Endpoint" binding="tns:EndpointBinding">
			<soap:address location="https://endpoint.uri" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>